.analytics-background {
	position: fixed;
	inset: 0;
	z-index: 0;

	background-image: url('/public/assets/backgrounds/whale-soaring-through-starry-sky.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

/* Content above background */
.analytics-content {
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
}

.page-title {
	font-weight: 600;
	text-align: left;
	color: #2b2b2b;
}

.block-title {
	font-size: 18px;
	font-weight: 600;
	text-align: left;
	color: #2b2b2b;
	margin-bottom: 12px;
}

.block-content {
	position: relative;
	z-index: 1;
	color: #2b2b2b;
	border-radius: 8px;
	text-align: justify;
}

.formatted-text {
	white-space: pre-line;
}