.save-button {
	transition: transform 0.15s ease, opacity 0.15s ease;
	height: 40px;
	color: white;
	box-shadow: none !important;
	--box-shadow: none;
}

.save-button:active {
	transform: scale(0.96);
	opacity: 0.85;
}

.save-button.saving {
	pointer-events: none;
}

ion-button {
	--background-activated: var(--background);
	--background-focused: var(--background);
	--ripple-color: transparent;
}

/* Global safe-area support for Android & iOS */
:root {
	--safe-top: env(safe-area-inset-top);
	--safe-bottom: env(safe-area-inset-bottom);
}

/* Apply to all pages */
ion-content {
	--padding-top: var(--safe-top);
	--padding-bottom: var(--safe-bottom);
	--padding-bottom: env(safe-area-inset-bottom);
}

/* Fix bottom navigation / tabs */
ion-tab-bar,
ion-footer {
	padding-bottom: var(--safe-bottom);
	padding-bottom: env(safe-area-inset-bottom);
}

/* Optional: headers if you use translucent toolbars */
ion-header {
	padding-top: var(--safe-top);
}



@media (prefers-color-scheme: dark) {
	body {
		/* --ion-color-primary: #7c8cff; */
		--ion-color-primary-rgb: 124, 140, 255;

		--ion-background-color: #ffffff;
		--ion-background-color-rgb: 15, 17, 21;

		--ion-text-color: #121212;
		--ion-text-color-rgb: 230, 230, 230;

		--ion-card-background: #ffffff;
		--ion-item-background: #ffffff;

		--ion-border-color: #2a2e38;
	}
}

.safe-content {
	--padding-bottom: calc(56px + env(safe-area-inset-bottom));
}

.today-page {
	position: relative;
	background: transparent;
}

/* Full screen background */
.today-background {
	position: fixed;
	inset: 0;
	z-index: 0;

	background-image: url('/public/assets/backgrounds/6452058.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

/* Content above background */
.today-content {
	position: relative;
	z-index: 1;

	/* Make content transparent */
	--background: transparent;
}

.today-block {
	position: relative;
	z-index: 1;
	margin-bottom: 16px;
	background-color: white;
	padding: 20px;
	color: black;
	border-radius: 8px;
}

.block {
	position: relative;
	z-index: 1;
	margin-bottom: 16px;
	background-color: white;
	padding: 20px;
	color: black;
	border-radius: 8px;
}

.frosted {
	background: rgba(255, 255, 255, 0.75);
	backdrop-filter: blur(12px) saturate(120%);
	-webkit-backdrop-filter: blur(12px) saturate(120%);

	border: 1px solid rgba(255, 255, 255, 0.35);

	box-shadow:
		0 8px 24px rgba(0, 0, 0, 0.15);
}

.emoji-circle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	/* vertical centering */
	justify-content: center;
	/* horizontal centering */
	/* font-size: 22px; */
	/* adjust emoji size */
}

.blurred {
	filter: blur(6px);
	transform: scale(0.98);
	/* subtle depth */
	transition: filter 0.25s ease, transform 0.25s ease;
}

.divider {
	height: 1px;
	background-color: var(--ion-color-light-shade);
	margin: 12px 0;
}

ion-datetime::part(calendar-day) {
	margin: 4px;
	/* creates space between circles */
	border-radius: 50%;
}