.heard-modal::part(backdrop) {
	background: rgba(0, 0, 0, 0.629);
	/* light frost */
	backdrop-filter: blur(14px) saturate(1.2);
	--webkit-backdrop-filter: blur(14px) saturate(1.2);
}

.heard-modal::part(backdrop)::before {
	content: '';
	position: absolute;
	inset: 0;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='1'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.035'/%3E%3C/svg%3E");
	pointer-events: none;
}

.heard-modal::part(content) {
	background: rgba(255, 255, 255);
	border-radius: 22px;
	width: 85%;
	max-width: 320px;
	animation: heardFadeIn 0.4s ease;
	height: auto;
	max-height: 36vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.heard-wrapper {
	padding: 28px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.emoji {
	font-size: 48px;
	margin-bottom: 8px;
}

h2 {
	font-weight: 600;
	margin: 6px 0;
}

.message {
	font-size: 15px;
	line-height: 1.5;
	color: #383838;
	margin: 12px 0 18px;
}

.heard-footer {
	border-top: 1px solid var(--ion-color-light-shade);
	padding: 8px 0;
	/* margin: 0 8px; */
	text-align: center;
}

.countdown {
	font-size: 12px;
	color: var(--ion-color-medium-shade);
}

@keyframes heardFadeIn {
	from {
		opacity: 0;
		transform: translateY(12px) scale(0.96);
	}

	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

@media (prefers-color-scheme: dark) {
	.heard-modal::part(backdrop) {
		background: rgba(0, 0, 0, 0.35);
		backdrop-filter: blur(16px) saturate(1.1);
	}

	.heard-modal::part(content) {
		background: rgba(255, 255, 255, 0.75);
		color: black;
	}
}