/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */
/* src/theme/variables.css */

:root {
	--ion-background-color: #ffffff;
	--ion-text-color: #000000;

	--ion-color-primary: #b54e57e1;
	--ion-color-primary-rgb: 242, 147, 164;
}

:root.dark {
	--ion-background-color: #ffffff;
	/* soft black */
	--ion-text-color: #212121;
	/* light gray */

	--ion-card-background: #ffffff;
	/* slightly raised surface */
	--ion-item-background: #fcfcfc;

	/* Softer primary in dark mode */
	--ion-color-primary: #b54e57e1;
	--ion-color-primary-rgb: 242, 147, 164;

	--ion-border-color: #262b36;
}