/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */
/* src/theme/variables.css */

:root {
	--ion-background-color: #ffffff;
	--ion-text-color: #000000;

	--ion-color-primary: #ec414fd6;
	--ion-color-primary-rgb: 242, 147, 164;
}